@use "common";

// menu overrides
.kv-menu {
  &__toggle-btn {
    justify-content: center;
    width: common.pixel2rem(20);
    height: common.pixel2rem(20);

    fill: common.color('icon');

    &:hover {
      fill: common.color('icon-hover');
    }
  }

  &__content {
    max-width: common.pixel2rem(300);
  }

  &__content-btn {
    @include common.typography('body-small');

    font-weight: 400;
    color: common.color('text-title');
    padding: common.$space-3 common.$space-4;
  }

  &__content-btn-icon {
    fill: common.color('icon');
    color: common.color('icon');
    margin-right: common.$space-4;
  }
}
