<kv-menu [isOpened]="isMenuOpened" [connectedPositions]="connectedPositions" (closed)="onClosedMenu()">
  <button type="button" class="button-no-styles kv-menu__toggle-btn" (click)="toggleMenu($event)" #menuConnector>
    <kv-icon svgPath="meatballs.svg"></kv-icon>
  </button>

  <ng-template #menuContainer>
    <div *transloco="let t" class="kv-menu__content">
      <button *ngFor="let item of items" type="button" class="button-no-styles kv-menu__content-btn" [disabled]="item?.disabled" (click)="onItemClick(item.type)">
        <kv-icon *ngIf="item?.icon" size="14" class="kv-menu__content-btn-icon" [svgPath]="item.icon"></kv-icon>

        {{ t(item.text) }}
      </button>
    </div>
  </ng-template>
</kv-menu>
