@use 'common';

.kv-toggle {
  &__container {
    display: flex;
    height: common.pixel2rem(20);
    width: common.pixel2rem(32);
    background-color: common.color('border');
    padding: common.pixel2rem(2);
    border-radius: 20px;
    transition: background-color linear 0.3s;

    &--active {
      background-color: common.color('primary');
    }

    &--disabled {
      background-color: common.color('primary-disabled')
    }

    &--readonly {
      pointer-events: none;
    }
  }

  &__input {
    display: none;
  }

  &__toggle {
    display: inline-block;
    border-radius: 50%;
    height: common.$space-4;
    width: common.$space-4;
    background-color: common.color('white');
    transition: all linear 0.3s;

    &--active {
      margin-left: common.$space-3;
    }

    &--disabled {
      opacity: 0.5;
    }

    &--readonly {
      pointer-events: none;
    }
  }
}
