@use 'common';

.kv-datepicker__icon {
  @include common.align-center;

  position: absolute;
  top: -#{common.pixel2rem(1)};
  right: 0;
  cursor: pointer;
  user-select: none;
  fill: common.color('icon');

  &--error {
    fill: common.color('red');
  }
}
