@use 'common';

:host {
  display: block;
}

.price {
  &__container {
    &--is-product-catalog-view {
      display: flex;
      flex-direction: column-reverse;
    }
  }

  &__title {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: common.color('brand-6');
    gap: common.$space;

    &--padding-right {
      padding-right: common.pixel2rem(20);
    }

    &--is-product-catalog-view {
      @include common.typography('value');

      display: flex;
      flex-direction: column;
      align-items: baseline;
      height: fit-content;
      gap: 0;
      color: common.color('text-secondary');

      @include common.media-breakpoint-up(sm) {
        flex-direction: row;
      }
    }
  }

  &__value {
    @include common.typography('h1');

    font-family: common.$family-secondary;
    color: common.color('brand-6');

    &--is-product-catalog-view {
      @include common.typography('h3');

      display: inline-block;
      margin-left: common.pixel2rem(4);
      color: common.color('text-body');
    }
  }


  &__caption {
    color: common.color('text-secondary');
  }

  &__regular-price {
    font-family: common.$family-secondary;
    color: common.color('text-placeholder');
    position: relative;
    font-size: common.pixel2rem(14);
    padding: 0 common.pixel2rem(2);

    &:after {
      content: '';
      position: absolute;
      top: calc(50% - 1px);
      width: 100%;
      left: 0;
      z-index: 1;
      border: 1px solid common.color('primary');
    }
  }

  &__percent {
    margin: 0 common.$space;
    padding: 0 common.pixel2rem(6);
    color: common.color('primary');
    background: common.color('primary-bg');
    border-radius: common.$border-radius-5;
    font-weight: 500;
    font-size: common.pixel2rem(12);
  }
}
