<div
  *transloco="let tPrice; read: 'price'"
  class="price"
  [class.price__container--is-product-catalog-view]="isProductCatalogView"
>
  <div
    class="price__title"
    [class.price__title--is-product-catalog-view]="isProductCatalogView"
    [class.price__title--padding-right]="isRightPadding"
  >
    <span class="price__caption">
      {{ tPrice(currency) }}{{ recurrence ? "/" + tPrice(recurrence) : "" }}
    </span>
    <span
      class="price__value"
      [class.price__value--is-product-catalog-view]="isProductCatalogView"
      >{{ value | price: currency }}</span
    >
  </div>

  <span *ngIf="promoType === 'SALE' && value && regularPrice">
    <span class="price__regular-price">{{
      regularPrice | price: currency
    }}</span>
    <span class="price__percent">{{ percent }}</span>
  </span>
</div>
