<ng-container *transloco="let t; read: 'auth.validation-code'">
  <div class="kv-modal__header">
    <div class="kv-modal__title kv-heading-4">{{ t('title') }}</div>

    <button type="button" class="kv-modal__close-btn" (click)="onModalClose()">
      <kv-icon svgPath="close.svg"></kv-icon>
    </button>
  </div>

  <ng-container *ngIf="!isSuccessfulSubmitted">
    <div class="kv-modal__content">
      <kv-auth-error-handler-container></kv-auth-error-handler-container>

      <div class="kv-heading-4 mb-1">
        {{ t('description', { digit: confValidationCode?.digits }) }}
      </div>
      <div class="kv-text-secondary-color mb-3">{{ email }}</div>

      <form [formGroup]="form">
        <div *transloco="let tForm; read: 'form'" class="kv-modal__content-inner">
          <kv-form-control
            class="kv-modal__form-control mb-0"
            [label]="tForm('code-label')"
            [error]="getControlErrors(form.get('code'), inputErr.NUMBER)"
            [isLabelWithRequired]="true"
          >
            <input
              kvTextInput
              [kvGaEvent]="{
                event: 'enter_validation_code_blur',
                category: googleAnalyticsCategoryEnum.AUTH,
                eventType: 'blur'
              }"
              class="kv-form__input"
              formControlName="code"
              [placeholder]="tForm('code-placeholder')"
              kvTrimSpaces
              [kvSetMaxLength]="confValidationCode?.digits.toString()"
            />
          </kv-form-control>
          <div class="kv-caption kv-text-secondary-color">
            {{ t('warning', { minutes: confValidationCode?.minutes }) }}
          </div>
        </div>
      </form>
    </div>

    <div class="kv-modal__footer">
      <div class="is-flex ml-auto">
        <button type="button" class="kv-btn kv-btn--flat kv-btn--small mr-4" (click)="onBack()">
          {{ t('back') }}
        </button>

        <button
          type="submit"
          class="kv-btn kv-btn kv-btn--outlined kv-btn--small mr-4"
          (click)="onResetValidationCode()"
        >
          {{ t('resend') }}
          <kv-icon svgPath="send.svg"></kv-icon>
        </button>
        <button type="submit" class="kv-btn kv-btn--primary kv-btn--small" (click)="onCheckValidationCode()">
          {{ t('register') }}
        </button>
      </div>
    </div>
  </ng-container>
</ng-container>
