<div
  *ngIf="!isCompleted && !isCancelled"
  class="radial-progress-bar"
  [class]="'radial-progress-bar__progress--' + progressValue"
  [class.radial-progress-bar--is-small]="isSmall"
></div>
<div
  *ngIf="isCompleted"
  class="radial-progress-bar radial-progress-bar__progress--completed">
  <!-- TODO: remove custom attributes when kv-icon is refactored -->
  <kv-icon
    size="16"
    verticalSize="16"
    svgPath="check-icon.svg"
    [customSvgAttributes]="{ width: 16 }"
  ></kv-icon>
</div>
<div
  *ngIf="isCancelled"
  class="radial-progress-bar radial-progress-bar__progress--cancelled">
  <kv-icon svgPath="close.svg"></kv-icon>
</div>
