@use 'common';

.terms-html-container {
  overflow-wrap: anywhere;

  h1 {
    margin-bottom: common.pixel2rem(6);
    font-weight: 900;
    font-size: 18px;
  }

  h2 {
    margin-top: common.pixel2rem(6);
    font-weight: 600;
  }

  p {
    padding: common.pixel2rem(4) 0;
  }

  td {
    padding-right: common.pixel2rem(8);
  }
}
