@use 'common';

.search {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  border-radius: common.pixel2rem(16);
  background: common.color('bg-gray');
  padding: common.$space-3;

  &__icon {
    margin-right: common.$space-2;
  }
}
