<div class="form-control__wrapper"
     [class.form-control__wrapper--inline]="isInline"
     [class.form-control__wrapper--readonly]="readOnly"
>
  <!-- [class.form-control__label-container--small]="isSmallType" -->
  <!-- [class.form-control__label-container--pointer]="isPointer" -->
  <div *ngIf="label" class="form-control__label" [class.form-control__label--inline]="isInline">
    {{label}}
    <span class="form-control__label-asterisk" *ngIf="isLabelWithRequired">*</span>
  </div>

  <label
    class="form-control__label-container"
    [class.form-control__label-container--inline]="isInline"
    [class.form-control__label-container--error]="isError"
    [class.form-control__label-container--full-height]="field.isFullHeight"
    [class.form-control__label-container--disabled]="field.isDisabled"
    [class.form-control__label-container--auto-height]="isAutoHeight"
    [class.form-control__label-container--wrap]="isInputWrap"
  >
    <!-- [class.form-control__label--active]="field.focused || !field.empty || autoFilled) && !readOnly" -->
    <!-- [class.form-control__label--error]="isError" -->

    <div
      class="form-control__input-wrapper"
      [class.form-control__input-wrapper--wrap]="isInputWrap"
    >
      <ng-content></ng-content>

      <!-- <div *ngIf="appendText" class="form-control__append-text">
        {{ appendText }}
      </div> -->

      <div *ngIf="isHiddenText" class="form-control__append-text form-control__toggle-visibility">
        <kv-icon svgPath="eye-visible.svg"></kv-icon>
      </div>
    </div>
  </label>

</div>

<div class="form-control__error" *ngIf="isError">
  {{ error }}
</div>
