
            <!-- Horizontal stepper -->
            <form
                class="p-4 bg-card shadow rounded overflow-hidden w-full"
                [formGroup]="horizontalStepperForm">
                <div class="flex m-8">
                    <mat-form-field class="w-100">
                        <mat-select
                            [formControlName]="'b2bCatalog'"
                            [placeholder]="'B2B Catalog'"
                            [disabled]="true"
                            required>
                        </mat-select>
                        <mat-icon
                            class="icon-size-5"
                            matPrefix
                            [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                    </mat-form-field>
                </div>
                <mat-horizontal-stepper class="mt-5"
                    [linear]="true"
                    #horizontalStepper>
                    <mat-step
                        [formGroupName]="'step1'"
                        [stepControl]="horizontalStepperForm.get('step1')"
                        #horizontalStepperStep1>

            <!-- Sponsor info -->
                        <ng-template matStepLabel>Sponsor Info</ng-template>
                            <div class="flex mt-6 gap-10">
                                <div class="w-full">
                                    <mat-form-field class="w-full "
                                    [subscriptSizing]="'dynamic'">
                                        <mat-label>Sponsor Name</mat-label>
                                        <mat-select
                                            [formControlName]="'sponsorName'"
                                            [placeholder]="'Sponsor Name'"
                                            required>
                                            <mat-option value="country-1">Sponsor A</mat-option>
                                            <mat-option value="country-2">Sponsor B</mat-option>
                                        </mat-select>
                                    </mat-form-field>
                                </div>
                                <div class="w-full">
                                  <mat-form-field
                                  class="w-full"
                                  [subscriptSizing]="'dynamic'">
                                  <mat-label>Sponsor Email</mat-label>
                                      <input
                                      [formControlName]="'sponsorEmail'"
                                      matInput>
                              </mat-form-field>
                            </div>
                          </div>
                
            <!-- Owner Info -->
                          <div class="flex mt-6 gap-10">
                            <div class="w-full">
                                <mat-form-field class="w-full "
                                [subscriptSizing]="'dynamic'">
                                    <mat-label>Owner Name</mat-label>
                                    <mat-select
                                        [formControlName]="'ownerName'"
                                        [placeholder]="'Owner Name'"
                                        required>
                                        <mat-option value="country-1">Owner A</mat-option>
                                        <mat-option value="country-2">Owner B</mat-option>
                                    </mat-select>
                                </mat-form-field>
                            </div>
                            <div class="w-full">
                              <mat-form-field
                              class="w-full"
                              [subscriptSizing]="'dynamic'">
                              <mat-label>Owner Email</mat-label>
                                  <input
                                  [formControlName]="'ownerEmail'"
                                  matInput>
                          </mat-form-field>
                        </div>
                      </div>
                        <div class="flex justify-end">
                            <button
                                class="px-8 mt-4"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="horizontalStepperStep1.stepControl.pristine || horizontalStepperStep1.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

            <!-- Step 2 Active Project -->
                    <mat-step
                        [formGroupName]="'step2'"
                        [stepControl]="horizontalStepperForm.get('step2')"
                        #horizontalStepperStep2>
                        <ng-template matStepLabel>Active Project</ng-template>
                        <p class="my-6 font-medium">
                            Update your project information here
                        </p>
            <!-- Name and tags -->
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3 mr-8">
                                <input
                                    matInput
                                    [formControlName]="'name'"
                                    [placeholder]="'Name'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3 mr-8">
                                <mat-select
                                    [formControlName]="'tags'"
                                    [placeholder]="'tags'"
                                    required>
                                    <mat-option value="country-1">tag 1</mat-option>
                                    <mat-option value="country-2">tag 2</mat-option>
                                    <mat-option value="country-3">tag 3</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                        </div>
            <!-- Subtype and Location -->
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pl-3 mr-8">
                                <mat-select
                                    [formControlName]="'subType'"
                                    [placeholder]="'Subtype'"
                                    required>
                                    <mat-option value="language-1">Subtype 1</mat-option>
                                    <mat-option value="language-2">Subtype 2</mat-option>
                                    <mat-option value="language-3">Subtype 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3 mr-8">
                                <mat-select
                                    [formControlName]="'location'"
                                    [placeholder]="'Location'"
                                    required>
                                    <mat-option value="language-1">Location 1</mat-option>
                                    <mat-option value="language-2">Location 2</mat-option>
                                    <mat-option value="language-3">Location 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

            <!-- Description  -->
                        <div class="flex">
                            <mat-form-field class="flex-auto mr-8">
                                <textarea
                                    matInput
                                    [formControlName]="'description'"
                                    [placeholder]="'Description'"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                            </mat-form-field>
                        </div>
                        <div class="flex justify-end">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                [disabled]="horizontalStepperStep2.stepControl.pristine || horizontalStepperStep2.stepControl.invalid"
                                type="button"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>
            <!-- Step 3 Product Idea -->
                    <mat-step
                        [formGroupName]="'step3'"
                        [stepControl]="horizontalStepperForm.get('step3')" #horizontalStepperStep3>
                        <ng-template matStepLabel>Product Idea</ng-template>
                        <p class="my-6 font-medium">
                           Update Product Idea here
                        </p>
            <!-- Product Name and Category -->
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3 mr-8">
                                <input
                                    matInput
                                    [formControlName]="'productName'"
                                    [placeholder]="'Product Name'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3 mr-8">
                                <mat-select
                                    [formControlName]="'productCategory'"
                                    [placeholder]="'Product Category'"
                                    required>
                                    <mat-option value="country-1">Product Category 1</mat-option>
                                    <mat-option value="country-2">Product Category 2</mat-option>
                                    <mat-option value="country-3">Product Category 3</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                        </div>

                 <!-- Target Entity and Subsidiary -->
                           <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pr-3 mr-8">
                                <mat-select
                                    [formControlName]="'targetEntity'"
                                    [placeholder]="'Target Entitity'"
                                    required>
                                    <mat-option value="country-1">Target Entitity 1</mat-option>
                                    <mat-option value="country-2">Target Entitity 2</mat-option>
                                    <mat-option value="country-3">Target Entitity 3</mat-option>
                                </mat-select>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:map-pin'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pr-3 mr-8">
                                <input
                                    matInput
                                    [formControlName]="'subsidiary'"
                                    [placeholder]="'Subsidiary'"
                                    required>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:user-circle'"></mat-icon>
                            </mat-form-field>
                        </div>
            <!-- Product Portfolio and Target Market Segment -->
                        <div class="flex">
                            <mat-form-field class="flex-auto gt-xs:pl-3 mr-8">
                                <mat-select
                                    [formControlName]="'productPortfolio'"
                                    [placeholder]="'Product Portfolio'"
                                    required>
                                    <mat-option value="language-1">Product Portfolio 1</mat-option>
                                    <mat-option value="language-2">Product Portfolio 2</mat-option>
                                    <mat-option value="language-3">Product Portfolio 3</mat-option>
                                </mat-select>
                            </mat-form-field>
                            <mat-form-field class="flex-auto gt-xs:pl-3 mr-8">
                                <mat-select
                                    [formControlName]="'targetMarketSegment'"
                                    [placeholder]="'Target Market Segment'"
                                    required>
                                    <mat-option value="language-1">Small</mat-option>
                                    <mat-option value="language-2">Medium</mat-option>
                                    <mat-option value="language-3">Large</mat-option>
                                </mat-select>
                            </mat-form-field>
                        </div>

            <!-- Product Overview and Features  -->
                        <div class="flex">
                            <mat-form-field class="flex-auto mr-8">
                                <textarea
                                    matInput
                                    [formControlName]="'productOverview'"
                                    [placeholder]="'Product Overview'"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                            </mat-form-field>
                            <mat-form-field class="flex-auto mr-8">
                                <textarea
                                    matInput
                                    [formControlName]="'productFeatures'"
                                    [placeholder]="'Product Features'"
                                    [rows]="3"></textarea>
                                <mat-icon
                                    class="icon-size-5"
                                    matPrefix
                                    [svgIcon]="'heroicons_solid:bars-3-bottom-left'"></mat-icon>
                            </mat-form-field>
                        </div>


            <!-- Checkbox and Radio buttons -->
                        <div class="flex flex-col gt-sm:flex-row">
                            <div class="flex flex-col">
                                <span class="font-medium mb-2">Checkbox Option</span>
                                <div
                                    class="flex flex-col"
                                    [formGroupName]="'byEmail'">
                                    <mat-checkbox
                                        class="mb-1"
                                        [color]="'primary'"
                                        [formControlName]="'companyNews'">
                                        Checkbox A
                                    </mat-checkbox>
                                    <mat-checkbox
                                        class="mb-1"
                                        [color]="'primary'"
                                        [formControlName]="'featuredProducts'">
                                        Checkbox B
                                    </mat-checkbox>
                                    <mat-checkbox
                                        [color]="'primary'"
                                        [formControlName]="'messages'">
                                        Checkbox C
                                    </mat-checkbox>
                                </div>
                            </div>
                            <div class="flex flex-col mt-8 gt-sm:mt-0 gt-sm:ml-16">
                                <span class="font-medium mb-2">Radio button Options</span>
                                <mat-radio-group
                                    class="flex flex-col"
                                    [color]="'primary'"
                                    [formControlName]="'pushNotifications'">
                                    <mat-radio-button
                                        class="mb-2"
                                        [value]="'everything'">
                                        Radio button A                                    </mat-radio-button>
                                    <mat-radio-button
                                        class="mb-2"
                                        [value]="'just-good'">
                                        Radio button B                                    </mat-radio-button>
                                    <mat-radio-button [value]="'no-push'">
                                        Radio button C
                                    </mat-radio-button>
                                </mat-radio-group>
                            </div>
                        </div>
                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8 mr-2"
                                mat-flat-button
                                [color]="'accent'"
                                type="button"
                                matStepperPrevious>
                                Back
                            </button>
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="button"
                                [disabled]="horizontalStepperStep3.stepControl.pristine || horizontalStepperStep3.stepControl.invalid"
                                matStepperNext>
                                Next
                            </button>
                        </div>
                    </mat-step>

                    <mat-step>
                        <ng-template matStepLabel>Done</ng-template>
                        <p class="my-6 font-medium">
                    Project Information is updated                        </p>
                        <div class="flex justify-end mt-8">
                            <button
                                class="px-8"
                                mat-flat-button
                                [color]="'primary'"
                                type="reset"
                                (click)="horizontalStepper.reset();">
                                Go to Project Overview
                            </button>
                        </div>
                    </mat-step>
                </mat-horizontal-stepper>
            </form>