@use "common";

.required-items {
  &__container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: common.pixel2rem(3);
    width: 100%;
    padding: common.pixel2rem(16);
    border-radius: common.pixel2rem(11);
    background-color: common.color('bg-gray');
    font-family: common.$family-secondary;
    font-size: common.pixel2rem(14);
    color: common.color('primary')
  }
}
