@use 'common';

:host {
  @include common.overlay-config
}

.kv-modal {
  &__footer {
    &--justify-right {
      justify-content: right;
    }
  }
}

.terms-modal {
  &__page-container {
    width: common.pixel2rem(670);
  }
}


.terms-checkbox {
  &__container {
    display: block;
    margin-top: common.pixel2rem(22);
  }
}
