<div class="kv-modal__page-container terms-modal__page-container">
  <div class="kv-modal__content">
    <kv-terms-from-html [terms]="terms"></kv-terms-from-html>
    <kv-checkbox-base
      *transloco="let t"
      [kvGaEvent]="{
        event: 'accept_terms_to_subscription_checkbox',
        category: googleAnalyticsCategoryEnum.AUTH,
        eventType: 'change'
      }"
      class="terms-checkbox__container"
      (changed)="checkboxChange($event)"
    >
      {{ t("common.by-clicking") }} <strong>{{ t("terms.confirm") }}</strong
      >, {{ t("common.agree-to-our") }}
      <a
        [kvGaEvent]="{
          event: 'terms_of_service_link_click',
          category: googleAnalyticsCategoryEnum.AUTH,
          eventType: 'click'
        }"
        target="_blank"
        href="https://indosatooredoo.com/portal/en/pssupporttnc"
        class="kv-btn-text"
        >{{ t("auth.sign-up.terms-of-service") }}</a
      >
      {{ t("common.and") }}
      <a
        [kvGaEvent]="{
          event: 'privacy_policy_link_click',
          category: googleAnalyticsCategoryEnum.AUTH,
          eventType: 'click'
        }"
        target="_blank"
        href="https://indosatooredoo.com/portal/en/pssupportprivacypolicy"
        class="kv-btn-text"
        >{{ t("auth.sign-up.privacy-policy") }}</a
      >
    </kv-checkbox-base>
  </div>
  <div *transloco="let t; read: 'terms'" class="kv-modal__footer kv-modal__footer--justify-right">
    <button type="button" [disabled]="confirmDisabled" class="kv-btn kv-btn--primary kv-btn--small" (click)="onAccept()">
      {{ t("confirm") }}
    </button>
  </div>
</div>
