@use 'common';

:host {
  display: flex;
  flex-direction: column;
  padding: common.$space-4;
  gap: common.$space-2;
  box-shadow: common.$shadow-1;
  border-radius: common.$space-2;
}

.configuration {
  &__title {
    font-family: common.$family-secondary;
    font-size: common.pixel2rem(14);
    font-weight: 900;
  }
}
