<div class="modal">
    <div class="modal-content">
      <span class="close" (click)="closeModal()">&times;
    </span>
    <div class="logo">
        <img src="/assets/images/Kloudville.png" alt="Logo">
      </div>
      <h2>Login</h2>
      <!-- @if (store.loading()) {
        <div style="color:black"> is loading ....</div>
      } @else {
        <div style="color:black"> not loading ....</div>
      } -->
      <form
      class="form-box"
      [formGroup]="loginForm"
      #signInNgForm="ngForm">
 <div class="email-pwd">
      <!-- Email field -->
      <mat-form-field class="form-field">
          <mat-label class="mat-label">Email address</mat-label>
          <input class="form-input"
              id="email"
              matInput
              [formControlName]="'email'"
              >
          <mat-error *ngIf="loginForm.get('email')?.hasError('required')">
              Email address is required
          </mat-error>
          <mat-error *ngIf="loginForm.get('email')?.hasError('email')">
              Please enter a valid email address
          </mat-error>
      </mat-form-field>

      <!-- Password field -->
      <mat-form-field  class="w-full">
          <mat-label class="mat-label">Password</mat-label>
          <input
              id="password"
              matInput
              type="password"
              [formControlName]="'password'"
              #passwordField>
          <button
              mat-icon-button
              type="button"
              (click)="passwordField.type === 'password' ? passwordField.type = 'text' : passwordField.type = 'password'"
              matSuffix>
          </button>
          <mat-error>
              Password is required
          </mat-error>
      </mat-form-field>
    </div>
      <!-- Actions -->
      <div class="inline-flex items-center justify-between w-full mt-1.5">
          <!-- <mat-checkbox
              class="-ml-2"
      >
              Remember me
          </mat-checkbox> -->
          <a
          class="mat-label"
             >Forgot password?
          </a>
      </div>

      <!-- Submit button -->
      <button
          mat-flat-button
          [disabled]="loginForm.disabled"
          (click)="signIn()">
          <span *ngIf="!loginForm.disabled">
              Sign in
          </span>
      </button>
  </form>
    </div>
  </div>