.modal {
    position: fixed;
    top:10%;
    left: 33%;
    width:30%;
    background-color: #fff; /* Modal background color */
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}
  .popup-container {
    background-color: #fff;
    padding: 20px;
    border-radius: 5px;
  }

  .mat-label {
    color : black;
  }

  
  .logo img {
    display: block;
    margin: 0 auto;
    width: 20%;
  }

  .form-box {
    .email-pwd {
      display:flex;

      .form-input {
        border-radius: 6px;
    display: inline-flex;
    flex-direction: column;
    min-width: 0;
    text-align: left;
      }
    }
  }
 