@use "common";

:host {
  display: block;
}

.prices {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__paid {
    display: flex;
    align-items: center;

    @include common.media-breakpoint-up(lg) {
      justify-content: flex-end;
    }
  }
}

.text-action {
  &__container {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__value {
    max-width: calc(100% - #{common.$space-6});
  }
}

.profile {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__logo {
    height: common.$space-6;
    width: common.$space-6;
    min-width: common.$space-6;
    background-color: common.color("brand-5");
    font-size: common.pixel2rem(10);
    line-height: common.$space-3;
    margin-right: common.$space-2;
    display: inline-flex;
    color: white;
    border-radius: 100%;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    &--image {
      background-color: transparent;
    }
  }

  &__role-wrapper {
    display: none;
    margin: common.$space-2 0 0 common.$space-8;
    align-items: center;

    @include common.media-breakpoint-up(lg) {
      display: inline-flex;
    }
  }

  &__role {
    width: fit-content;
    margin-right: common.$space-2;
  }

  &__name {
    color: common.color("primary");
    font-weight: 900;
    font-size: common.pixel2rem(14);
    cursor: pointer;
  }

  &__arrow-icon {
    transition: all linear 0.225s;

    &--expanded {
      transform: rotate(180deg);
    }
  }

  &__label {
    color: common.color("text-secondary");
    font-size: common.pixel2rem(14);
    font-weight: 900;
    margin-left: common.$space-2;
    font-family: common.$family-secondary;
  }
}

.contacts {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__wrapper {
    display: flex;
    align-items: center;
    word-break: break-word;

    gap: common.$space;
  }
}

.date {
  white-space: nowrap;
}

.due-date {
  white-space: nowrap;
  display: flex;
  align-items: center;

  &--marked:before {
    content: "";
    display: inline-block;
    border-radius: 100%;
    width: common.pixel2rem(8);
    height: common.pixel2rem(8);
    background-color: common.color("red");
    margin-right: common.pixel2rem(5);
  }
}

.toggle {
  display: block;
  width: fit-content;
}

.link {
  height: auto;
}

.cell-container {
  display: inline-flex;
  width: 100%;
  flex-wrap: wrap;

  &--with-clipboard {
    width: initial;
  }
}

.copy-text {
  color: common.color("primary");
}

.copy-icon {
  margin: 0 common.$space-2;
}

.clipboard {
  &__desktop-container {
    display: flex;
    align-items: baseline;
  }

  &__mobile {
    margin: 0;
  }
}

.payment-method {
  &__container {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
  }

  &__icon {
    margin-right: common.pixel2rem(4);
  }
}
