<div
  *ngIf="(element[tableColumn.key] !== null && element[tableColumn.key] !== undefined) || [filedType.TEXT_ARRAY, filedType.ACTION, filedType.EXPAND].includes(tableColumn.type); else emptyValueContainer"
  [class.clipboard__desktop-container]="isCopyDesktop"
>
  <div class="cell-container" [ngSwitch]="tableColumn.type" [class.cell-container--with-clipboard]="isCopyDesktop" #text>
    <ng-container *ngSwitchCase="filedType.TEXT">
      <span [class.copy-text]="tableColumn.isCopy">{{ element[tableColumn.key] }}</span>
    </ng-container>
    <ng-container *ngSwitchCase="filedType.TEXT_LABEL">
      <kv-label-text [backgroundColor]="element?.labelColor || element[tableColumn.key]?.labelColor">{{ element[tableColumn.key]?.text || element[tableColumn.key] }}</kv-label-text>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.ADDRESS">
      <span class="is-flex">
        <kv-icon class="mr-1 mt-1" svgPath="account/location.svg"></kv-icon>
        {{ element[tableColumn.key] }}
      </span>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.TEXT_WITH_ACTION">
      <div class="text-action__container">
        <span class="text-action__value">{{ element[tableColumn.key] }}</span>
        <kv-actions-dropdown-cell [googleAnalyticsCategory]="googleAnalyticsCategory" [tableMenuItems]="element[textWithActionListKey]" [element]="element" (itemClicked)="onActionDropdownItemClick($event)"></kv-actions-dropdown-cell>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.INNER_HTML">
      <span [innerHtml]="tableColumn.innerHtml(element)"></span>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.TEXT_ARRAY">
      <ng-container *ngIf="element[tableColumn.key]?.length; else emptyValueContainer">
        <span *ngFor="let text of element[tableColumn.key]">
          {{ text }}
        </span>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.PAYMENT_METHOD">
      <span *transloco="let tMethod; read: 'product.payment-page.payment-methods'" class="payment-method__container">
        <kv-icon [svgPath]="element[tableColumn.key].icon" class="payment-method__icon"></kv-icon>
        {{ tMethod(element[tableColumn.key].paymentType) }}
      </span>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.PRODUCTS">
      <div *ngIf="element[tableColumn.key]?.items?.length; else emptyValueContainer">
        <span *ngFor="let text of element[tableColumn.key].items | slice: 0:maxProductsCount">
          {{ text }}
        </span>

        <ng-container *ngIf="element[tableColumn.key].items?.length > maxProductsCount">
          <i *transloco="let t; read: 'portal.orders-list'" class="mt-1 is-block">
            {{ t("max-product-title") }}
          </i>
        </ng-container>
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.DATE">
      <span *ngIf="element?.[tableColumn.key + 'To'] && element?.[tableColumn.key + 'From']; else singleDataTemplate" class="date">
        {{ element[tableColumn.key + "From"] | date: tableColumn?.dateFormat || dateFormat }} -
        {{ element[tableColumn.key + "To"] | date: tableColumn?.dateFormat || dateFormat }}
      </span>

      <ng-template #singleDataTemplate>
        <span class="date">{{ element[tableColumn.key] | date: tableColumn?.dateFormat || dateFormat }}</span>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.DATE_SHORT">
      <span class="date">{{ element[tableColumn.key] | date: tableColumn?.dateFormat || dateFormat }}</span>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.DATE_DUE">
      <span class="due-date" [class.due-date--marked]="element[tableColumn.key]">
        {{ element[tableColumn.key] | date: tableColumn?.dateFormat || dateFormat }}
      </span>
    </ng-container>

    <!-- See TableFieldPriceViewModel  -->
    <ng-container *ngSwitchCase="filedType.PRICE">
      <ng-container *transloco="let tPrice; read: 'price'">
        <span *ngIf="element[tableColumn.key]?.totals?.length" class="prices__container is-inline-flex">
          <span *ngFor="let price of element[tableColumn.key].totals" [class.is-inline]="isCopyDesktop">
            <span class="kv-caption kv-text-secondary-color">
              {{ tPrice(element[tableColumn.key]?.currency) }}
              {{ price?.recurrence ? "/" + tPrice(price?.recurrence) : "" }}
            </span>

            {{ price?.total | price: element[tableColumn.key]?.currency }}

            <kv-clipboard *ngIf="tableColumn.isCopy && price?.total" [class.copy-icon]="tableColumn.isCopy" [copyText]="price?.total" [class.clipboard__mobile]="isCopyMobile" [class.is-inline]="isCopyDesktop"></kv-clipboard>
          </span>
        </span>
      </ng-container>
    </ng-container>

    <!-- See TableFieldPriceDueViewModel  -->
    <ng-container *ngSwitchCase="filedType.PRICE_DUE">
      <ng-container *transloco="let tPrice; read: 'price'">
        <div class="prices__container">
          <ng-container *ngIf="element[tableColumn.key].isPaymentRequired; else noPaymentRequiredTemplate">
            <span *ngIf="!element[tableColumn.key].paidDate; else paidTemplate" class="is-flex is-flex-direction-column">
              <span>
                <span class="kv-caption kv-text-secondary-color">{{ tPrice(element[tableColumn.key]?.currency) }}</span>
                {{ element[tableColumn.key]?.total | price: element[tableColumn.key].currency }}
              </span>
              <span class="kv-text-secondary-color kv-caption mt-1">{{ tPrice("amount-due") }}</span>
            </span>
          </ng-container>

          <ng-template #paidTemplate>
            <span class="prices__paid">
              <kv-radial-progress-bar [isCompleted]="true" [isSmall]="true" class="mr-1"></kv-radial-progress-bar>
              <span class="date">{{ element[tableColumn.key].paidDate | date: tableColumn?.dateFormat || dateFormat }}</span>
            </span>
            <span class="kv-text-secondary-color kv-caption mt-1">{{ tPrice("paid-in-full") }}</span>
          </ng-template>

          <ng-template #noPaymentRequiredTemplate>
            <span class="kv-text-secondary-color kv-caption">{{ tPrice("payment-not-required") }}</span>
          </ng-template>
        </div>
      </ng-container>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.PROGRESS_STATUS">
      <div class="progress-status is-flex is-align-items-center">
        <kv-radial-progress-bar [progressValue]="element[tableColumn.key].progress" [isCancelled]="element[tableColumn.key]?.isCancelled" [isCompleted]="element[tableColumn.key]?.isCompleted" class="mr-1"></kv-radial-progress-bar>
        {{ element[tableColumn.key].value }}
      </div>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.TOGGLE">
      <kv-toggle-cell
        class="toggle"
        [googleAnalyticsCategory]="googleAnalyticsCategory"
        [label]="tableColumn.title"
        [selectedValue]="element[tableColumn.key]"
        [handleOnClick]="true"
        (changed)="onToggledChanged(element?.toggleId, $event)"
      ></kv-toggle-cell>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.ACTION">
      <kv-actions-dropdown-cell
        *ngIf="isActionMenuShow"
        [googleAnalyticsCategory]="googleAnalyticsCategory"
        [tableMenuItems]="element[tableColumn.key]"
        [element]="element"
        (itemClicked)="onActionDropdownItemClick($event)"
      ></kv-actions-dropdown-cell>
    </ng-container>

    <!-- See TableFieldProfileViewModel -->
    <ng-container *ngSwitchCase="filedType.PROFILE">
      <div class="profile__container">
        <span class="is-flex">
          <img *ngIf="element[tableColumn.key].icon; else initialsTemplate" class="profile__logo profile__logo--image" [src]="element[tableColumn.key].icon" alt="logo" />
          <ng-template #initialsTemplate>
            <span class="profile__logo">{{ element[tableColumn.key].initials }}</span>
          </ng-template>
          <button type="button" class="profile__name button-no-styles" (click)="onProfileNameClick()">{{ element[tableColumn.key].name }}</button>
        </span>

        <span class="profile__role-wrapper" [class.mt-0]="!element[tableColumn.key].role">
          <kv-label-text *ngIf="element[tableColumn.key].role" [backgroundColor]="element?.labelColor" class="profile__role">
            {{ element[tableColumn.key].role }}
          </kv-label-text>

          <kv-icon *ngIf="isExpandable" [class.profile__arrow-icon--expanded]="isExpanded" class="profile__arrow-icon" svgPath="account/arrow-down.svg"></kv-icon>
          <ng-container *ngIf="isExpandable && element[tableColumn.key]?.label">
            <span class="profile__label" *transloco="let t">{{ t(element[tableColumn.key].label) }}</span>
          </ng-container>
        </span>
      </div>
    </ng-container>

    <!-- See TableFieldContactViewModel -->
    <ng-container *ngSwitchCase="filedType.CONTACTS">
      <div class="contacts__container">
        <div class="contacts__wrapper" *ngIf="element[tableColumn.key].primary">
          <kv-icon [svgPath]="element[tableColumn.key].isPrimaryEmail ? 'account/mail.svg' : 'account/phone.svg'"></kv-icon>
          <span>{{ element[tableColumn.key].primary }}</span>
          <kv-label-text class="is-flex-shrink-0" *transloco="let t" backgroundColor="#FFCB05">{{ t("portal.table.primary") }}</kv-label-text>
        </div>
        <div class="contacts__wrapper" *ngIf="element[tableColumn.key].secondary">
          <kv-icon [svgPath]="element[tableColumn.key].isSecondaryEmail ? 'account/mail.svg' : 'account/phone.svg'"></kv-icon>
          {{ element[tableColumn.key].secondary }}
        </div>
      </div>
    </ng-container>

    <!-- See TableFieldLinkViewModel -->
    <ng-container *ngSwitchCase="filedType.LINK">
      <a
        *ngIf="element[tableColumn.key]?.url; else invoiceNameTemplate"
        [href]="element[tableColumn.key]?.url"
        target="_blank"
        class="kv-btn kv-btn--flat kv-btn--small is-justify-content-start link"
        [kvGaEvent]="{
          event: tableColumn.key + '_link_click',
          category: googleAnalyticsCategory,
          eventType: 'click'
        }"
        (click)="onLinkClick($event)"
      >
        {{ element[tableColumn.key]?.name }}
        <!-- TODO: remove custom attributes when kv-icon is refactored -->
        <kv-icon svgPath="account/clip.svg" [customSvgAttributes]="{ height: 18, width: 'auto' }" class="ml-1"></kv-icon>
      </a>

      <ng-template #invoiceNameTemplate>
        <span class="kv-heading-4">{{ element[tableColumn.key]?.name }}</span>
      </ng-template>
    </ng-container>

    <ng-container *ngSwitchCase="filedType.EXPAND">
      <div class="is-flex is-align-items-center">
        <kv-icon *ngIf="element.isExpandable" [class.profile__arrow-icon--expanded]="isExpanded" class="profile__arrow-icon" svgPath="account/arrow-down.svg"></kv-icon>
      </div>
    </ng-container>
  </div>

  <kv-clipboard *ngIf="tableColumn.isCopy && tableColumn.type !== filedType.PRICE && cellText?.length" [class.copy-icon]="tableColumn.isCopy" [copyText]="cellText" [class.clipboard__mobile]="isCopyMobile"></kv-clipboard>
</div>

<ng-template #emptyValueContainer>
  <span>{{ emptyValue }}</span>
</ng-template>
