<div *transloco="let t; read: 'shared'" class="file-upload">
  <div *ngIf="displayTitle" class="file-upload__title">
    <ng-content></ng-content>

    <a
      *ngIf="sampleFileUrl"
      [kvGaEvent]="{
        event: 'file_to_upload_sample_link_click',
        category: googleAnalyticsCategory,
        eventType: 'click'
      }"
      [href]="sampleFileUrl"
      download
      class="kv-btn-text file-upload__download-sample-link"
    >
      <kv-icon svgPath="download.svg" size="18" verticalSize="18" class="file-upload__action-icon"></kv-icon>
      {{ t("download-a-sample") }}
    </a>
  </div>

  <div
    class="file-upload__drop-container"
    [class.file-upload__drop-container--hidden]="fileName && displayPreview"
    [class.file-upload__drop-container--active]="isDragFocus"
    [class.file-upload__drop-container--error]="isError"
    (dragover)="isDragFocus = true"
    (dragleave)="isDragFocus = false"
  >
    <div>
      {{ t("drop-your-file-here") }}
      <br />
      {{ t("or") }}

      <button type="button" class="kv-btn kv-btn--outlined file-upload__browse" (click)="fileInput.click(); onButtonClick()">
        {{ t("browse") }}
      </button>
    </div>

    <input #fileInput class="file-upload__input" type="file" [multiple]="isMultiple"
           [accept]="config?.format" (change)="uploadFiles($event)" />
  </div>

  <div *ngIf="fileName && displayPreview" class="file-upload__file-container">
    <div class="file-upload__title file-upload__title--sub">
      <div>{{ t("preview") }}</div>

      <div class="file-upload__action">
        <button class="button-no-styles file-upload__remove-file" (click)="onRemoveFile()">
          <kv-icon svgPath="trash.svg" size="18" verticalSize="18" class="file-upload__action-icon"></kv-icon>
        </button>

        <a
          [kvGaEvent]="{
            event: 'replace_uploaded_file_click',
            category: googleAnalyticsCategory,
            eventType: 'click'
          }"
          (click)="fileInput.click(); onButtonClick()"
          class="kv-btn-text file-upload__action-link"
        >
          {{ t("replace") }}</a
        >
      </div>
    </div>

    <div class="file-upload__file-item">
      <div>{{ t("file-name") }}</div>
      <div class="file-upload__file-item-name">{{ fileName }}</div>
    </div>
  </div>
</div>
