@use "common";

:host {
  background-color: common.color("white");
  border-radius: common.$border-radius-1;
  box-shadow: common.$shadow-1;
  border: common.pixel2rem(1) solid common.color("border");

  margin: common.$space 0;

  display: flex;
  flex-direction: column;
  max-height: 80vh;
  width: common.pixel2rem(320);
  overflow: auto;
}

.product {
  display: flex;
  padding: common.$space-4;
  border-bottom: common.pixel2rem(1) solid common.color("border");
  font-weight: 500;
  font-size: common.pixel2rem(14);

  &__list {
    max-height: common.pixel2rem(320);
    overflow-x: auto;
  }

  &__img {
    width: common.pixel2rem(40);
    margin-right: common.$space-3;
  }

  &__title {
    display: flex;
    font-family: common.$family-secondary;
    font-size: common.pixel2rem(14);
    padding: common.$space 0;
    border-bottom: common.pixel2rem(1) solid common.color("border");
  }

  &__container {
    flex-grow: 1;
  }

  &__label {
    @include common.typography("h5");

    font-family: common.$family-secondary;
    color: common.color("text-secondary");
    padding-top: common.$space-2;
  }

  &__prices {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__all-total {
    display: flex;
    justify-content: space-between;
    background-color: common.color("bg-gray");
    padding: common.$space-3 common.$space-3 common.$space-3
      common.pixel2rem(68);
  }

  &__addons {
    &--info {
      text-align: right;
      padding-top: common.$space-2;
    }

    &--header--item {
      display: flex;
      justify-content: space-between;
      align-items: baseline;
    }
  }
}
