<div class="kv-modal__page-container">
  <div class="kv-modal__header">
    <div class="kv-modal__title kv-heading-4">
      {{ data.modalTitle }}
    </div>

    <button type="button" class="kv-modal__close-btn" (click)="onCloseModal()">
      <kv-icon svgPath="close.svg"></kv-icon>
    </button>
  </div>

  <div class="kv-modal__content">
    <div class="kv-text-title-color kv-font-secondary kv-heading-3 mb-4 confirmation-title" [innerHtml]="data.title | safe: 'html'"></div>
    <div class="kv-tex-body-color">{{ data.description }}</div>
  </div>

  <div class="kv-modal__footer">
    <div class="is-flex ml-auto">
      <button type="button" class="kv-btn kv-btn--flat kv-btn--small mr-4" (click)="onCancel()">
        {{ data.cancelButtonText }}
      </button>

      <button type="submit" class="kv-btn kv-btn--primary kv-btn--small" (click)="onConfirm()">
        {{ data.confirmButtonText }}
      </button>
    </div>
  </div>
</div>
