<button
  type="button"
  class="kv-btn kv-btn--outlined kv-btn--small file__button"
  [class.file__button--fullWidth]="isFullWidth"
  (click)="fileInput.click(); onButtonClick()"
>
  <span class="file__button-content">
    <ng-container *ngIf="fileName">{{ fileName }}</ng-container>
    <ng-container *ngIf="!fileName"><ng-content></ng-content></ng-container>
  </span>
</button>

<input #fileInput class="file__input" type="file" [accept]="config?.format" (change)="uploadFiles($event)" hidden />
