@use 'common';

$padding: common.pixel2rem(14);

:host {
  position: fixed;
  right: common.pixel2rem(8);
  bottom: common.pixel2rem(16);
  z-index: common.$lead-register-layer;
}

.lead-register {
  &__container {
    width: common.pixel2rem(300);
    background-color: common.color('white');
    box-shadow: 0 0 common.pixel2rem(5) rgba(0, 0, 0, 0.3);
    border-radius: common.pixel2rem(8);
  }

  &__header {
    padding: $padding;
  }

  &__content {
    padding: $padding;
  }

  &__close-btn {
    padding: common.pixel2rem(4);
  }

  &__from-control {
    display: block;
    width: 100%;
    margin-bottom: common.pixel2rem(16);
  }

  &__success-message {
    font-size: common.pixel2rem(14);
    font-weight: 500;
  }
}
