@use "common";

:host {
  max-height: common.pixel2rem(400);
  overflow-y: auto;
}

.promotion {
  @include common.typography("body-small");
  font-weight: 400;

  padding: common.$space-3;
  border-radius: common.pixel2rem(12);
  border: common.pixel2rem(1) solid common.color("divider");

  &__wrapper {
    padding: common.$space-4;

    &:not(:last-child) {
      border-bottom: common.pixel2rem(1) solid common.color("divider");
    }
  }

  &__title {
    @include common.typography("h4");
    font-family: common.$family-secondary;

    color: common.color("text-title");
  }

  &__description {
    margin: common.$space 0;
  }

  &__link {
    height: auto;
  }
}
