<div class="kv-modal__content ag-sign-up__container" *transloco="let t; read: 'auth.sign-up'">
  <div class="ag-sign-up__button-container">
    <button type="button" class="kv-modal__close-btn" (click)="onModalClose()">
      <kv-icon svgPath="close.svg"></kv-icon>
    </button>
  </div>

  <img class="ag-sign-up__logo" [src]="logoUrl" alt="logo" />

  <div class="kv-modal__title kv-modal__title--center kv-heading-4 ag-sign-up__title mb-4">
    {{ t("ah-sign-up-title") }}
  </div>

  <kv-auth-error-handler-container></kv-auth-error-handler-container>

  <form [formGroup]="signUpForm">
    <div *transloco="let t; read: 'form'" class="kv-modal__content-inner">
      <kv-form-control class="kv-modal__form-control" [label]="t('name-label')" [error]="getControlErrors(signUpForm.get('fullName'), inputErr.REQUIRED)">
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_name_login_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          class="kv-form__input"
          formControlName="fullName"
          [placeholder]="t('name-placeholder')"
          kvTrimSpaces
          kvSetMaxLength
        />
      </kv-form-control>
      <kv-form-control class="kv-modal__form-control" [label]="t('email-label')" [error]="getControlErrors(signUpForm.get('email'), inputErr.EMAIL)">
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_email_login_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          class="kv-form__input"
          formControlName="email"
          [placeholder]="t('email-placeholder')"
          kvTrimSpaces
          kvSetMaxLength
          autocomplete="email"
        />
      </kv-form-control>

      <kv-form-control class="kv-modal__form-control mb-0" [label]="t('password-label')" [error]="getControlErrors(signUpForm.get('password'), inputErr.PASSWORD)" [isHiddenText]="true">
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_password_login_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          type="password"
          class="kv-form__input"
          formControlName="password"
          autocomplete="current-password"
          kvHiddenTextInput
          [placeholder]="t('password-placeholder')"
        />
      </kv-form-control>

      <kv-checkbox
        class="mt-3"
        *transloco="let t; read: 'auth.sign-up'"
        [kvGaEvent]="{
          event: 'accept_terms_sign_up_checkbox',
          category: googleAnalyticsCategoryEnum.AUTH,
          eventType: 'change'
        }"
        formControlName="termsAccepted"
        [error]="getControlErrors(signUpForm.get('termsAccepted'), inputErr.TERMS_ERROR)"
      >
        {{ t("agree-with") }}
        <a
          [kvGaEvent]="{
            event: 'privacy_policy_ah_sign_up_click',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'click'
          }"
          target="_blank"
          href="https://ide.ioh.co.id/policy"
          class="kv-btn-text"
          >{{ t("privacy-policy") }}</a
        >
      </kv-checkbox>
    </div>

    <button type="submit" class="kv-btn kv-btn--primary kv-btn--full-width mt-4" (click)="onSignUp()">
      {{ t("submit") }}
    </button>
    <div *transloco="let t" class="ag-sign-up__log-in-text mt-1">
      {{ t("auth.sign-up.redirect-to-sign-in") }}
      <button type="button" class="kv-btn-text" (click)="onLogin()">{{ t("auth.sign-in.title") }}</button>
    </div>
  </form>
</div>
