@use 'common';

.ag-sign-up {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin: 0 auto common.$space-2  ;
    height: common.pixel2rem(80);
  }

  &__title {
    margin: auto;
  }

  &__log-in-text {
    text-align: center;
  }
}
