@use 'common';

.kv-radio-button {
  &__container {
    display: flex;
    align-items: center;
    height: common.pixel2rem(64);
    padding: common.pixel2rem(12) common.$space-4;
    border: 1px solid common.color('border');
    border-radius: common.pixel2rem(6);
    cursor: pointer;
    transition-property: border-color;
    transition-duration: common.$animation-duration-sm;

    &--active {
      border-color: common.color('primary');
    }
  }

  &__radio {
    flex-shrink: 0;
    position: relative;
    display: inline-block;
    height: common.pixel2rem(20);
    width: common.pixel2rem(20);
    border-radius: 50%;
    border: 1px solid common.color('border');
    margin-right: common.pixel2rem(18);
    transition-property: border-color, background-color;
    transition-duration: common.$animation-duration-sm;

    &--active {
      border-color: common.color('primary');
      background-color: common.color('primary');

      &:after {
        position: absolute;
        content: ' ';
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        border-radius: 50%;
        background-color: common.color('white');
        height: common.$space-2;
        width: common.$space-2;
      }
    }
  }

  &__icon {
    margin-right: common.$space-2;
    height: common.pixel2rem(28);
  }

  &__input {
    display: none;
  }
}
