@use 'common';

.reset-styles {
  // List
  ul, ol {
    list-style: disc;
    margin-block-end: common.pixel2rem(16);
    margin-block-start: common.pixel2rem(16);
    margin-inline-end: 0px;
    margin-inline-start: 0px;
    padding-inline-start: common.pixel2rem(40);
  }
}

