@use 'common';

.card-row {
  &__property {

    &-label, &-value {
      width: calc(50% - #{common.pixel2rem(8)});
    }

    &-label {
      @include common.typography('h4');

      text-align: left;
      font-family: common.$family-secondary;
      color: common.color('text-secondary');
      font-weight: 900;
    }

    &-value {
      @include common.typography('value');

      font-weight: 500;
    }
  }
}
