@use 'common';

.login {
  &__container {
    display: flex;
    flex-direction: column;
  }

  &__button-container {
    display: flex;
    justify-content: flex-end;
  }

  &__logo {
    margin: 0 auto common.$space-2  ;
    height: common.pixel2rem(80);
  }

  &__message {
    @include common.typography('body-small');

    margin: common.$space-3 0;
    text-align: center;
    color: common.color('text-body');
  }
}
