<div class="kv-modal__content login__container">
  <div class="login__button-container">
  <button type="button" class="kv-modal__close-btn" (click)="onModalClose()">
    <kv-icon svgPath="close.svg"></kv-icon>
  </button>
</div>

  <img class="login__logo" [src]="logoUrl" alt="logo">

  <div *transloco="let t; read: 'auth.sign-in'" class="login__message">
    {{t('login-message')}}
  </div>

  <kv-auth-error-handler-container></kv-auth-error-handler-container>
  <ng-container *ngIf="isSuccessfullyRegistered">
    <div class="mb-5" *transloco="let t; read: 'auth.validation-code'">
      {{ t('successful-registration') }}
    </div>
  </ng-container>

  <form [formGroup]="loginForm">
    <div *transloco="let t; read: 'form'" class="kv-modal__content-inner">
      <kv-form-control
        class="kv-modal__form-control"
        [label]="t('email-label')"
        [error]="getControlErrors(loginForm.get('user'), inputErr.EMAIL)"
      >
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_email_login_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          class="kv-form__input"
          formControlName="user"
          [placeholder]="t('email-placeholder')"
          kvTrimSpaces
          kvSetMaxLength
          autocomplete="email"
        />
      </kv-form-control>

      <kv-form-control
        class="kv-modal__form-control mb-0"
        [label]="t('password-label')"
        [error]="getControlErrors(loginForm.get('password'), inputErr.REQUIRED)"
        [isHiddenText]="true"
      >
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_password_login_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          type="password"
          class="kv-form__input"
          formControlName="password"
          autocomplete="current-password"
          kvHiddenTextInput
          [placeholder]="t('password-placeholder')"
        />
      </kv-form-control>
    </div>

    <div *transloco="let t;" class="kv-caption is-flex is-justify-content-center is-flex-direction-column mt-5">
      <button type="submit" class="kv-btn kv-btn--primary kv-btn--small" (click)="onLogin()">
        {{ t('auth.sign-in.title') }}
      </button>

      <button type="button" class="kv-btn-text mt-3 mb-3" (click)="onForgotPassword()">
        {{ t('auth.forgot-password.title') }}
      </button>
      <span class="kv-caption m-auto">
        {{ t('auth.sign-in.redirect-to-sign-up') }}
        <button type="button" class="kv-btn-text" (click)="onSignUp()">{{ t('auth.sign-up.title') }}</button>
      </span>
    </div>
  </form>
</div>

