@use "common";

.transactions {
  &__block {
    display: grid;
    grid-gap: common.$space-4;
    grid-template-columns: repeat(auto-fit, minmax(0, 1fr));

    padding: common.$space-4;

    &:not(:last-child) {
      border-bottom: common.pixel2rem(1) solid common.color("divider");
    }

    @include common.media-breakpoint-down(sm) {
      grid-template-columns: 1fr 1fr;
    }
  }

  &__button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    position: relative;

    font-weight: 500;
    font-size: common.pixel2rem(13);

    border: common.pixel2rem(1) solid common.color("divider");
    border-radius: common.pixel2rem(12);
    padding: common.$space-4 common.$space-6;
    color: common.color("icon");
    fill: common.color("icon");
    transition: all common.$animation-duration-md;

    &:hover {
      color: common.color("icon-hover");
      fill: common.color("icon-hover");
    }

    &--stretched {
      @include common.media-breakpoint-down(sm) {
        grid-column: span 2;
      }
    }

    &-icon {
      padding-bottom: common.$space-2;
      position: relative;
    }

    &--active {
      color: common.color("primary");
      fill: common.color("primary");

      &:hover {
        color: common.color("primary-hover");
        fill: common.color("primary-hover");

        .transactions__counter {
          background-color: common.color("primary-hover");
        }
      }
    }
  }

  &__counter {
    position: absolute;
    top: common.pixel2rem(10);
    left: common.pixel2rem(10);
  }
}
