@use 'common';

:host {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;

  @include common.media-breakpoint-up(md) {
    align-items: center;
  }
}

.pagination {
  &__size-selector {
    display: inline-flex;
    width: common.pixel2rem(75);
    margin: 0 common.$space-2;
  }

  &__size-label {
    padding-left: common.$space-3;

    @include common.media-breakpoint-up(lg) {
      padding-left: 0;
    }
  }

  &__size {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    margin-top: -#{common.pixel2rem(20)};

    @include common.media-breakpoint-up(lg) {
      flex-direction: row;
      margin-top: 0;
    }
  }

  &__details {
    font-family: common.$family-secondary;
    font-size: common.pixel2rem(14);
    color: common.color('text-secondary');
    margin-left: common.$space-4;
    display: none;
    white-space: nowrap;

    @include common.media-breakpoint-up(md) {
      display: block;
    }
  }

  &__left-arrow {
    transform: rotate(180deg);
  }

  &__page-stepper {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    width: common.pixel2rem(36);
    height: common.pixel2rem(36);
    font-size: common.pixel2rem(13);
    background: common.color('white');
    font-weight: 500;
    padding: common.$space-2;
    margin: 0 common.$space;
    border: common.pixel2rem(2) solid common.color('divider');
    border-radius: common.pixel2rem(5);

    &:not(.pagination__page-stepper--active, .pagination__page-stepper:disabled ):hover {
      background: rgba(common.color('primary'), 0.1);
      border-color: common.color('primary');
      color: common.color('primary');
    }

    &:disabled {
      opacity: 0.5;
      cursor: default;
      background: common.color('divider');
    }

    &--dots {
      cursor: default;
      pointer-events: none;
      border-color: common.color('white');
    }

    &--active {
      border-color: common.color('primary');
      color: common.color('primary');
      cursor: default;
    }


    &-wrap {
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      margin-left: common.$space-4;
    }
  }
}
