<div class="kv-select__wrapper">
  <div #dropreference>
    <kv-form-control
      [label]="label"
      [error]="error"
      [isPointer]="true"
      [isAutoHeight]="multiselect"
      [isInputWrap]="multiselect"
      [isLabelWithRequired]="isLabelWithRequired"
      [isInline]="isInline"
      cdkMonitorSubtreeFocus
    >
      <div *ngFor="let item of displayMultiselectOptions; trackBy: trackByChips"
           class="kv-select__chips-item">
        {{ item.value }}
        <kv-icon
          (click)="onUnselectOption($event, item)"
          svgPath="close.svg"
          class="kv-select__icon-unselect"
          size="12"
          verticalSize="12">
        </kv-icon>
      </div>

      <input
        #input
        kvSelectInput
        class="kv-form__input kv-select__input"
        [class.kv-select__input--small]="isSmall"
        [class.kv-select__input--hidden]="multiselect && !filter || (multiselect && filter && !isShowDropdown)"
        [class.kv-select__input--multiselect-filter]="multiselect && filter"
        [class.kv-form__input--single]="!label"
        [placeholder]="placeholder || defaultPlaceholder"
        [disabled]="disabled"
        [readonly]="(!!filter && !isShowDropdown) || readonly || !filter"
        [value]="!!filter &&  isShowDropdown ? filterValue : displayText"
        (click)="showDropdown()"
        (keyup)="onKeyUp($event)"
        (keydown)="onKeyDown($event)"
        (blur)="onTouched()"
        (focus)="onFocus()"
        autocomplete="off"
      >
      <kv-icon *ngIf="!disabled && !readonly"
               (click)="onDropMenuIconClick($event)"
               [class.kv-select__icon--small]="isSmall"
               svgPath="chevron-down.svg"
               size="24"
               verticalSize="24"
               class="kv-select__icon">
      </kv-icon>
    </kv-form-control>
  </div>
  <kv-custom-select-dropdown class="kv-custom-select__dropdown-container" [reference]="dropreference">
    <div
      class="kv-select__options-container"
      [ngStyle]="{'max-height': (sizeItemsShowing ? (heightSelectOption * sizeItemsShowing)+'px' : null)}">
      <ng-content select="kv-custom-select-option"></ng-content>

      <div *ngIf="isNoFilterData" class="kv-select__option-no-data">No results found.</div>
    </div>
  </kv-custom-select-dropdown>
</div>
