@use "common";

.status-notifications-tabs {
  border-bottom: common.pixel2rem(1) solid common.color("divider");

  .kv-tabs__tab {
    width: 50%;
    text-align: center;
    transition-property: color;
    transition-duration: common.$animation-duration-sm;

    &:focus-visible {
      outline: none;
    }
  }

  .kv-tabs__tab--selected {
    border-radius: 0;
    border-top: none;

    &:first-child {
      border-left: none;
    }
    &:last-child {
      border-right: none;
    }
  }

  .kv-form__label-asterisk {
    padding-left: 0;
  }
}
