@use 'common';

:host {
  display: flex;
  flex-direction: column;
  gap: common.$space-10;

  @include common.media-breakpoint-up(lg) {
    flex-direction: row;
  }
}

.price {
  &__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    padding: common.$space-4;
    gap: common.$space-2;
    box-shadow: common.$shadow-1;
    border-radius: common.$space-2;

    @include common.media-breakpoint-up(lg) {
      width: 50%;
    }

    &--full-width {
      @include common.media-breakpoint-up(lg) {
        width: 100%;
      }
    }
  }

  &__container {
    display: flex;
    gap: 0.5rem;
    flex-direction: column;
  }

  &__title {
    font-size: common.pixel2rem(14);
    font-weight: 900;
  }

  &__divider {
    height: 1px;
    background-color: common.color('divider');
  }
}

.price-item {
  &__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: common.pixel2rem(106);
    width: 100%;
  }

  &__name {
    font-size: common.pixel2rem(13);
  }

  &__name-total {
    font-size: common.pixel2rem(13);
    font-weight: 500;
    color: common.color('text-title');
  }

  &__price {
    font-size: common.pixel2rem(13);
    font-weight: 500;
    color: common.color('text-title');
  }

  &__currency {
    font-size: common.pixel2rem(12);
    font-weight: 400;
    margin-right: common.pixel2rem(2);
    color: common.color('text-secondary');
  }
}
