<ng-container *transloco="let tPrice; read: 'price'">
  <div
    *ngFor="let details of cartPriceDetails"
    class="price__wrapper"
    [class.price__wrapper--full-width]="cartPriceDetails?.length === 1"
  >
    <div class="price__container">
      <span class="price__title">{{ tPrice(details?.recurrence) }}</span>

      <div class="price__divider"></div>

      <div class="price-item__wrapper">
        <span class="price-item__name">{{ tPrice("subtotal") }}</span>

        <span>
          <span class="price-item__currency">{{ tPrice(currency) }}</span>
          <span class="price-item__price">{{
            details?.total | price: currency
          }}</span>
        </span>
      </div>

      <div *ngFor="let item of details?.charge" class="price-item__wrapper">
        <span class="price-item__name">{{ item?.description }}</span>

        <span>
          <span class="price-item__currency">{{ tPrice(currency) }}</span>
          <span class="price-item__price">{{
            item?.total | price: currency
          }}</span>
        </span>
      </div>
    </div>

    <div class="price__container">
      <div class="price__divider"></div>

      <div class="price-item__wrapper">
        <span class="price-item__name-total">{{ tPrice("total") }}</span>

        <span class="kv-value--active">
          <span class="price-item__currency">{{ tPrice(currency) }}</span>
          <span class="price-item__price">{{
            details?.grandTotal | price: currency
          }}</span>
        </span>
      </div>
    </div>
  </div>
</ng-container>
