<div *transloco="let t; read: 'auth'" class="kv-modal__header">
  <div class="kv-modal__title kv-heading-4">{{ t('forgot-password.title') }}</div>

  <button type="button" class="kv-modal__close-btn" (click)="onModalClose()">
    <kv-icon svgPath="close.svg"></kv-icon>
  </button>
</div>

<ng-container *ngIf="!isSuccessfullyPasswordReset">
  <div class="kv-modal__content">
    <kv-auth-error-handler-container></kv-auth-error-handler-container>

    <form [formGroup]="forgotPasswordForm">
      <div *transloco="let t; read: 'form'" class="kv-modal__content-inner">
        <kv-form-control
          class="kv-modal__form-control mb-0"
          [label]="t('email-label')"
          [error]="getControlErrors(forgotPasswordForm.get('user'), inputErr.EMAIL)"
          [isLabelWithRequired]="true"
        >
          <input
            kvTextInput
            [kvGaEvent]="{
              event: 'enter_email_reset_password_blur',
              category: googleAnalyticsCategoryEnum.AUTH,
              eventType: 'blur'
            }"
            class="kv-form__input"
            formControlName="user"
            [placeholder]="t('email-placeholder')"
            kvTrimSpaces
            kvSetMaxLength
          />
        </kv-form-control>
      </div>
    </form>
  </div>

  <div *transloco="let t" class="kv-modal__footer">
    <div class="is-flex ml-auto">
      <button type="button" class="kv-btn kv-btn--flat kv-btn--small mr-4" (click)="onCancel()">
        {{ t('common.cancel') }}
      </button>

      <button type="submit" class="kv-btn kv-btn--primary kv-btn--small" (click)="onResetPassword()">
        {{ t('auth.forgot-password.submit') }}
      </button>
    </div>
  </div>
</ng-container>

<ng-container *ngIf="isSuccessfullyPasswordReset">
  <div *transloco="let t; read: 'auth.forgot-password'" class="kv-modal__content kv-body-small forgot-password-success">
    {{ t('success-message') }}
  </div>
</ng-container>
