.drawer-style {
    box-shadow: none;
    border-right-color: var(--mat-sidenav-container-divider-color);
    border-right-width: 1px;
    border-right-style: groove !important;
}

.panel-style {
    display: flex;
    flex-direction: column !important;
    width: 200px;

    .panel-section {
    padding-top: 1.25rem !important;
    padding-bottom: 1.25rem !important;
    padding-left: 2rem !important;
    background-color: rgba(238,242,255) !important;
    cursor: pointer !important;
    margin-bottom: 5px;
    }
}

  
