<div class="w-full" *ngIf="false; else projectsList">
    <!-- Page for when there are no projects -->
    <div class="flex flex-col justify-center pl-4 pr-4 items-center mt-20">  
    <div class=" h-screen contents">
       <div class="text-2xl font-bold leading-7 text-gray-900 sm:truncate sm:text-3xl sm:tracking-tight">Organize your team's work and projects</div> 
        <p class="mt-5">Let's put all your plans and projects in one place so you can work productively without the chaos and confusion.</p>
        <img class="w-50 mt-5 rounded-full"
        src="/assets/images/pages/new-project/new-project.png"
        alt="new-project">
        <button
        (click)="createNewProject()"
        class="py-4 px-8 mt-5"
        mat-flat-button
        [color]="'primary'"
        type="button"
        matStepperNext>
        Create New Project
    </button>
    </div>
</div>
  </div>
  <ng-template #projectsList>
    <!-- Page for when there are projects -->
    
  <project-list []></project-list>

  </ng-template>