<!-- dynamic-form.component.html -->
<div class="dynamic-form">

  <!-- Form -->
  <form [formGroup]="accountForm" >
      <div class="grid w-full mt-8">
          <!-- Name -->
          <div class="sponsor-section">
            <div class="form-gap">
              <mat-form-field
                  class="w-full "
                  [subscriptSizing]="'dynamic'">
                  <mat-label>Product Name</mat-label>
                  <mat-icon
                      class="icon-size-5"
                      matPrefix></mat-icon>
                  <input
                      [formControlName]="'name'"
                      matInput>
              </mat-form-field>
            </div>
     <!-- Tags -->
            <div class="form-gap">
            <mat-form-field
            class="w-full"
            [subscriptSizing]="'dynamic'">
            <mat-label>Product Category</mat-label>
            <mat-icon
                class="icon-size-5"
                matPrefix></mat-icon>
            <mat-select [formControlName]="'tags'">
                <mat-option [value]="'usa'">United States</mat-option>
                <mat-option [value]="'canada'">Canada</mat-option>
                <mat-option [value]="'mexico'">Mexico</mat-option>
                <mat-option [value]="'france'">France</mat-option>
                <mat-option [value]="'germany'">Germany</mat-option>
                <mat-option [value]="'italy'">Italy</mat-option>
            </mat-select>
        </mat-form-field>
        </div>
        </div>
      </div>
     <!-- Subtype -->
      <div class="grid w-full mt-8">
        <div class="sponsor-section">
          <div class="form-gap">
              <mat-form-field
                  class="w-full"
                  [subscriptSizing]="'dynamic'">
                  <mat-label>Product Portfolio</mat-label>
                  <mat-icon
                      class="icon-size-5"
                      matPrefix></mat-icon>
                  <mat-select [formControlName]="'subtype'">
                      <mat-option [value]="'usa'">United States</mat-option>
                      <mat-option [value]="'canada'">Canada</mat-option>
                      <mat-option [value]="'mexico'">Mexico</mat-option>
                      <mat-option [value]="'france'">France</mat-option>
                      <mat-option [value]="'germany'">Germany</mat-option>
                      <mat-option [value]="'italy'">Italy</mat-option>
                  </mat-select>
              </mat-form-field>
            </div>
      </div>
    </div>
          <!-- About -->
          <div class="sm:col-span-4 mt-6">
              <mat-form-field
                  class="w-full"
                  [subscriptSizing]="'dynamic'">
                  <mat-label>Product Overview</mat-label>
                  <textarea
                      matInput
                      [formControlName]="'about'"
                      cdkTextareaAutosize
                      [cdkAutosizeMinRows]="3"></textarea>
              </mat-form-field>
        </div>
 

      <!-- Divider -->
      <div class="mt-11 mb-10 border-t"></div>

      <!-- Actions -->
      <div class="flex items-center justify-end">
          <button
              mat-stroked-button
              type="button">
              Cancel
          </button>
          <button
              class="ml-4"
              mat-flat-button
              type="button"
            >Save
          </button>
          <button mat-flat-button color="primary"> TEST</button>

      </div>
  </form>

</div>
