@use "common";

.table {
  &__container {
    border-collapse: separate;
    border-spacing: 0 common.$space-3;
    margin-top: common.pixel2rem(20);
    width: 100%;

    &--expandable {
      border-spacing: 0 common.$space-2;
    }

    &--is-small {
      margin-top: 0;
      border-spacing: 0;
    }
  }

  &__expand-container {
    width: calc(100% - #{common.pixel2rem(48)});
    margin: common.$space-3 common.$space-6;

    box-shadow: common.$shadow-1;
    border-radius: common.$border-radius-1;
  }

  &__column-header {
    @include common.typography("h4");

    font-family: common.$family-secondary;
    font-weight: 900;
    color: common.color("text-secondary");
    padding: common.$space-3 common.$space-6;
    border: none;
    text-align: left;
    white-space: nowrap;

    &--active-sort {
      color: common.color("black");
    }

    &--right {
      text-align: right;
    }

    &-sort-icon {
      &--desc {
        transform: rotate(180deg);
      }
    }

    &--expandable {
      padding: common.$space-3 common.$space-4;
    }
  }

  &__row {
    box-shadow: common.$shadow-1;
    border: none;
    border-radius: common.$border-radius-5;
    overflow: hidden;
    cursor: pointer;

    &--is-small {
      box-shadow: none;
    }
  }

  &__cell {
    @include common.typography("value");

    color: common.color("text-body");
    border: none;
    word-break: break-word;
    vertical-align: middle;
    font-weight: 500;
    padding: common.$space-4 common.$space-6;
    transition: all common.$animation-duration-md;

    &--w50 {
      width: 50%;
    }

    &--expandable {
      padding: 0 common.$space-2;
      overflow: hidden;
    }

    &--expanded {
      padding: common.$space-2;
    }

    &--nested-expandable {
      padding: common.$space-3 common.$space-4;
    }
  }

  &__row {
    &--highlight .table__cell {
      background-color: rgba(common.color("primary-disabled"), $alpha: 0.07);
    }
  }
}

.cursor {
  cursor: pointer;
}
