<div *ngIf="text" class="notification__container" [ngClass]="['notification__container--' + type, customClass]">
  <ng-container *transloco="let t; read: 'notifications'">
    <kv-icon
      size="16"
      verticalSize="16"
      class="notification__icon"
      [svgPath]="iconByType[type]"
      [ngClass]="'notification__icon--' + type"
    ></kv-icon>
    <span class="notification__text" [innerHtml]="t(text) === missingTranslocoKey ? text : t(text)"></span>
    <button class="notification__btn-close button-no-styles" *ngIf="closable">
      <kv-icon svgPath="close.svg" size="12" verticalSize="12" (click)="onClose()"></kv-icon>
    </button>
  </ng-container>
</div>
