@use 'common';

:host {
  display: flex;
  flex-direction: column;
  padding: common.$space-4;
  gap: common.$space-2;
  box-shadow: common.$shadow-1;
  border-radius: common.$space-2;
  margin-top: common.pixel2rem(24);
}

.addons {
  &__divider {
    height: 1px;
    background-color: common.color('divider');
  }

  &__container {
    display: flex;
    justify-content: space-between;
    padding-right: common.pixel2rem(28);
  }
}

.addons-expand {
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: common.color('text-body')
  }

  &__btn-name {
    font-weight: 900;
    font-size: common.pixel2rem(14);
  }

  &__btn-icon {
    display: inline-block;
    transform: rotate(180deg);
    fill: common.color('text-secondary');

    &--expanded {
      transform: rotate(0deg);
    }
  }
}
