<ng-container *transloco="let t; read: 'product.checkout-page'">
  <button class="button-no-styles addons-expand__btn" (click)="onExpand()">
    <span class="addons-expand__btn-name">{{ t("addons-title") }}</span>

    <kv-icon class="addons-expand__btn-icon" [class.addons-expand__btn-icon--expanded]="isAddonsExpanded" [svgPath]="'arrow-up.svg'"></kv-icon>
  </button>

  <ng-container *ngIf="isAddonsExpanded">
    <div class="addons__divider"></div>

    <kv-addons-item *ngFor="let addon of addons" [isReadonly]="isReadonly" [titleText]="addon.description || ''" [priceValue]="addon.itemTotal || 0" (removeAddon)="onRemoveAddon(addon.productCode)"></kv-addons-item>
  </ng-container>

  <div class="addons__divider"></div>

  <div class="addons__container" [class.pr-0]="isReadonly">
    <span class="kv-heading-4 kv-font-secondary">{{ t("subtotal") }}</span>

    <span class="kv-value--active" *transloco="let t; read: 'shared'">
      <span class="kv-caption kv-text-secondary-color">{{ t("currency-per-month") }}</span>
      {{ subtotalValue | price }}
    </span>
  </div>
</ng-container>
