<div *transloco="let t; read: 'auth'" class="kv-modal__header">
  <div class="kv-modal__title kv-heading-4">{{ t('change-password.title') }}</div>

  <button type="button" class="kv-modal__close-btn" (click)="onModalClose()">
    <kv-icon svgPath="close.svg"></kv-icon>
  </button>
</div>

<div class="kv-modal__content">
   <kv-error-handler-container></kv-error-handler-container>

  <form [formGroup]="changePasswordForm">
    <div *transloco="let t; read: 'form'" class="kv-modal__content-inner">
      <kv-form-control
        class="kv-modal__form-control"
        [label]="t('old-password-label')"
        [error]="getControlErrors(changePasswordForm.get('oldPassword'), inputErr.PASSWORD)"
        [isHiddenText]="true"
      >
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_old_password_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          type="password"
          class="kv-form__input"
          formControlName="oldPassword"
          autocomplete="old-password"
          kvHiddenTextInput
          [placeholder]="t('old-password-placeholder')"
        />
      </kv-form-control>

      <kv-form-control
        class="kv-modal__form-control"
        [label]="t('new-password-label')"
        [error]="getNewPasswordError()"
        [isHiddenText]="true"
      >
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_new_password_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          type="password"
          class="kv-form__input"
          formControlName="newPassword"
          autocomplete="new-password"
          kvHiddenTextInput
          [placeholder]="t('new-password-placeholder')"
        />
      </kv-form-control>

      <kv-form-control
        class="kv-modal__form-control mb-0"
        [label]="t('new-2-password-label')"
        [error]="getRetypePasswordError()"
        [isHiddenText]="true"
      >
        <input
          kvTextInput
          [kvGaEvent]="{
            event: 'enter_new_password_2_blur',
            category: googleAnalyticsCategoryEnum.AUTH,
            eventType: 'blur'
          }"
          type="password"
          class="kv-form__input"
          formControlName="newPassword2"
          autocomplete="new-password2"
          kvHiddenTextInput
          [placeholder]="t('new-2-password-placeholder')"
        />
      </kv-form-control>
    </div>
  </form>
</div>

<div *transloco="let t" class="kv-modal__footer">
  <div class="is-flex ml-auto">
    <button type="button" class="kv-btn kv-btn--flat kv-btn--small mr-4" (click)="onCancel()">
      {{ t('common.cancel') }}
    </button>

    <button type="submit" class="kv-btn kv-btn--primary kv-btn--small" (click)="onLogin()">
      {{ t('auth.change-password.submit') }}
    </button>
  </div>
</div>
