@use "common";

.status-notifications {
  padding: common.$space-2;
  max-width: common.pixel2rem(478);

  &__content {
    display: flex;
    flex-direction: column;
    overflow: hidden;

    background: common.color("white");
    border: common.pixel2rem(1) solid common.color("divider");
    border-radius: common.$space-2;
    box-shadow: common.$shadow-1;

    min-width: common.pixel2rem(480);

    @include common.media-breakpoint-down(sm) {
      min-width: common.pixel2rem(280);
      width: 100%;
    }
  }

  &__button {
    position: relative;
  }

  &__label {
    position: absolute;
    z-index: common.$absolute-layer;

    top: common.pixel2rem(11);
    left: common.pixel2rem(11);
    width: common.pixel2rem(16);
    height: common.pixel2rem(16);

    background-color: common.color("primary");
    border: common.pixel2rem(2) solid common.color("white");
    border-radius: 100%;

    &:after {
      content: "";
      display: block;
      position: absolute;

      width: common.pixel2rem(5);
      height: common.pixel2rem(5);
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);

      background-color: common.color("white");
      border-radius: 100%;
    }
  }
}
