<kv-menu
  class="is-flex is-align-items-center"
  [connectedPositions]="connectedPositions"
  [isOpened]="isShowNotifications"
  [hasBackdrop]="false"
  [kvMouseLeave]="contentSelectors"
  (mouseLeaveTriggered)="onHideNotifications()"
  (closed)="onHideNotifications()"
>
  <button
    #menuConnector
    type="button"
    class="status-notifications__button button-no-styles kv-btn-icon kv-btn-icon--secondary"
    (mouseover)="onShowNotifications()"
    (touchstart)="touchDownShowNotifications($event)"
    (touchend)="touchUpShowNotifications($event)"
    (touchmove)="touchLeaveShowNotifications($event)"
  >
    <!-- TODO: remove custom attributes when kv-icon is refactored -->
    <kv-icon svgPath="bell.svg" [customSvgAttributes]="{ width: 20 }"></kv-icon>
    <div *ngIf="hasStatusNotifications$ | async" class="status-notifications__label"></div>
  </button>

  <ng-template #menuContainer>
    <div class="status-notifications" (mouseleave)="onHideNotifications()">
      <div class="status-notifications__content">
        <kv-status-notifications-tabs [tabs]="notificationsTabs$ | async" [activeTab]="activeTab" (tabClicked)="onTabClicked($event)"></kv-status-notifications-tabs>

        <ng-container [ngSwitch]="activeTab">
          <kv-status-notifications-transactions
            *ngSwitchCase="statusNotificationsTabsEnum.TRANSACTIONS"
            [notifications]="transactionsNotifications$ | async"
            (notificationClicked)="onNotificationClicked($event)"
          ></kv-status-notifications-transactions>
          <kv-status-notifications-promo-and-updates *ngSwitchCase="statusNotificationsTabsEnum.PROMO_AND_UPDATES" [promotions]="promotionsNotifications$ | async"></kv-status-notifications-promo-and-updates>
        </ng-container>
      </div>
    </div>
  </ng-template>
</kv-menu>
