<ng-container *transloco="let t; read: 'product.checkout-page'">
  <button class="button-no-styles bundle-expand__btn" (click)="onExpand()">
    <span class="bundle-expand__btn-name">{{ t("bundle-items-title") }}</span>

    <kv-icon
      class="bundle-expand__btn-icon"
      [class.addons-expand__btn-icon--expanded]="isExpanded"
      [svgPath]="'arrow-up.svg'"
    ></kv-icon>
  </button>

  <ng-container *ngIf="isExpanded">
    <div class="bundle__divider"></div>

    <div *ngFor="let item of bundle" class="bundle-item__wrapper">
      <span class="bundle-item__name">{{ item?.description }}</span>
      <span class="bundle-item__price">{{ t("included") }}</span>
    </div>
  </ng-container>
</ng-container>
