@use 'common';

:host {
  display: flex;
  flex-direction: column;
  padding: common.$space-4;
  gap: common.$space-2;
  box-shadow: common.$shadow-1;
  border-radius: common.$space-2;
  margin-top: common.pixel2rem(24);
}

.bundle {
  &__divider {
    height: 1px;
    background-color: common.color('divider');
  }
}

.bundle-expand {
  &__btn {
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: common.color('text-body')
  }

  &__btn-name {
    font-size: common.pixel2rem(14);
    font-weight: 900;
  }

  &__btn-icon {
    display: inline-block;
    transform: rotate(180deg);
    fill: common.color('text-secondary');

    &--expanded {
      transform: rotate(0deg);
    }
  }
}

.bundle-item {
  &__wrapper {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }

  &__name {
    font-size: common.pixel2rem(13);
  }

  &__price {
    font-size: common.pixel2rem(13);
    font-weight: 500;
    color: common.color('text-title');
  }
}
