@use 'common';

$scope: '.kv-checkbox';
$container: '#{$scope}__container';
$checkmark: '#{$scope}__checkmark';
$text: '#{$scope}__text';

/* The container */
#{$container} {
  padding-left: common.pixel2rem(36);
  display: inline-flex;
  align-items: center;
  position: relative;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;

  &--small {
    padding-left: common.pixel2rem(24);
    height: common.pixel2rem(16);
  }
}

/* Hide the browser's default checkbox */
#{$container} input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
#{$checkmark} {
  position: absolute;
  top: 0;
  left: 0;
  height: common.pixel2rem(20);
  width: common.pixel2rem(20);
  background-color: common.color('white');
  border: common.pixel2rem(1) solid common.color('border');
  border-radius: common.pixel2rem(4);

  &--small {
    width: common.pixel2rem(16);
    height: common.pixel2rem(16);
  }
}

/* When the checkbox is checked, add a background */
#{$container} input:checked ~ #{$checkmark} {
  background-color: common.color('primary');
  border-color: common.color('primary');
}

/* Create the checkmark/indicator (hidden when not checked) */
#{$checkmark}:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
#{$container} input:checked ~ #{$checkmark}:after {
  display: block;
}

/* Style the checkmark/indicator */
#{$container} #{$checkmark} {
  &:after {
    top: common.pixel2rem(3);
    left: common.pixel2rem(7);
    width: common.pixel2rem(4);
    height: common.pixel2rem(10);
    border: solid common.color('white');
    border-width: 0 common.pixel2rem(2) common.pixel2rem(2) 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }

  &--small {
    &:after {
      top: common.pixel2rem(0.5);
      left: common.pixel2rem(5.5);
      width: common.pixel2rem(4);
      height: common.pixel2rem(10);
    }
  }
}

#{$scope}__error {
  @include common.typography('caption');

  color: common.color('red');
  margin: common.$space 0 0 0;
}

#{$text} {
  &--small {
    @include common.typography('body-small');
    margin-bottom: common.pixel2rem(2);
  }
}
