@use "common";

:host {
  display: flex;
  flex-direction: column;
  width: 100%;

  @include common.media-breakpoint-up(lg) {
    padding: common.$space-4 common.$space-6;
    box-shadow: common.$shadow-1;
    border-radius: common.$space-4;
  }
}

.product-checkout {
  &__container {
    display: flex;
    width: 100%;
    flex-direction: column;
    gap: common.pixel2rem(32);

    @include common.media-breakpoint-up(lg) {
      flex-direction: row;
      gap: common.pixel2rem(40);
    }
  }

  &__img {
    width: common.pixel2rem(64);
    height: common.pixel2rem(64);
    margin-right: common.pixel2rem(40);
  }

  &__configuration {
    flex: 1 1 100%;

    &--header {
      display: flex;
      justify-content: space-between;
    }

    &--description {
      display: flex;
      flex-wrap: wrap;
      position: relative;
    }

    &--title {
      @include common.typography('h4');

      color: common.color('text-title');
      font-family: common.$family-secondary;

      margin-bottom: common.pixel2rem(8);
    }

    &--button {
      @include common.typography('h4');

      display: flex;
      align-items: center;
      color: common.color('primary');
      font-family: common.$family-secondary;

      &-confirmation {
        color: common.color('text-body')
      }
    }

    &--icon {
      display: inline-block;
      margin-left: common.$space-2;
      transform: rotate(180deg);
      fill: common.color('primary');

      &-confirmation {
        fill: common.color('text-body');
      }

      &--expanded {
        transform: rotate(0deg);
      }
    }

    &--items {
      height: 0;
      padding: 0;
      margin-left: 0;
      overflow: hidden;

      &--expanded {
        height: auto;
        padding: common.$space-4;
      }

      @include common.media-breakpoint-up(lg) {
        margin-left: common.pixel2rem(100);
      }
    }

    @include common.media-breakpoint-up(lg) {
      flex: 1 1 50%;
    }
  }

  &__addons {
    flex: 1 1 100%;

    &--header {
      display: flex;
      flex-direction: column;
      justify-content: space-between;


      &--item {
        display: flex;
        width: 100%;
        justify-content: space-between;
        align-items: flex-end;

        @include common.media-breakpoint-up(lg) {
          flex-direction: column;
          width: fit-content;
        }
      }

      @include common.media-breakpoint-up(lg) {
        flex-direction: row;
      }
    }

    &--title {
      @include common.typography('h4');

      font-family: common.$family-secondary;
      color: common.color('text-secondary');
    }

    &--info {
      @include common.typography('value');

      color: common.color('text-title');
    }

    @include common.media-breakpoint-up(lg) {
      flex: 1 1 calc(50% - #{common.pixel2rem(100)});
    }
  }

  &__actions-wrapper {
    justify-content: space-between;
    align-items: flex-start;

    &--big-screen {
      display: none;
      min-width: common.pixel2rem(83);

      @include common.media-breakpoint-up(lg) {
        display: flex;
      }
    }

    &--small-screen {
      display: flex;
      min-width: common.pixel2rem(67);

      @include common.media-breakpoint-up(lg) {
        display: none;
      }
    }
  }

  &__actions-container {
    display: flex;
    justify-content: space-between;
    width: 100%;

    &--no-customization {
      justify-content: flex-end;
    }
  }

  &__requiring-tooltip {
    display: inline-flex;
    position: absolute;
    top: common.pixel2rem(-10);
    left: common.pixel2rem(-10);
    stroke: common.color('red');
  }

  &__prices {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  &__action-btn {
    fill: common.color('icon');
  }
}
.checkout-required {
  &__container {
    margin-bottom: common.pixel2rem(24);;
  }

  &__button {
    @include common.typography('h4');

    display: flex;
    align-items: center;
    color: common.color('primary');
    font-family: common.$family-secondary;
  }

  &__icon {
    display: inline-block;
    margin-left: common.$space-2;
    transform: rotate(180deg);
    fill: common.color('primary');

    &--expanded {
      transform: rotate(0deg);
    }
  }
}
