@use "common";

$overlay-background: rgba(common.color('black'), 0.1);

.loading-spinner__overlay {
  display: flex;
  align-items: center;
  justify-content: center;
  background: $overlay-background;
  position: fixed;
  z-index: common.$loader-layer;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
}
