@use 'common';

:host {
  @include common.overlay-config
}

.employer-registration {
  &__message {
    text-align: center;
  }
}

.kv-modal__page-container {
  width: common.pixel2rem(870);
}

.kv-modal__title--center {
  flex-grow: 1;
  text-align: center;
}
