<ng-container *transloco="let t; read: 'employer-registration'">
  <div class="kv-modal__page-container kv-modal__page-container--full-width">
    <div class="kv-modal__header">
      <h1 class="kv-modal__title kv-modal__title--center kv-heading-4" [class.kv-modal__title--center]="message">
        {{ t('employer-registration') }}
      </h1>
      <button
        type="button"
        class="kv-modal__close-btn"
        (click)="onModalClose()"
      >
        <kv-icon svgPath="close.svg"></kv-icon>
      </button>
    </div>
    <div class="kv-modal__content">
      <kv-error-handler-container></kv-error-handler-container>

      <div *ngIf="message" class="employer-registration__message" [innerHTML]="t(message)"></div>
      <form *ngIf="!message" [formGroup]="employerRegistrationForm">
        <kv-form-control
          class="kv-modal__form-control"
          [label]="t('corporate-id')"
          [error]="getControlErrors(employerRegistrationForm.get('corporateId'), inputErr.CORPORATE_ID_FORMAT_ERRORS)"
          [isLabelWithRequired]="true"
        >
          <input
            kvTextInput
            [kvGaEvent]="{
              event: 'enter_name_employer-registration_blur',
              category: googleAnalyticsCategoryEnum.EMPLOYEE_REGISTRATION,
              eventType: 'blur'
            }"
            class="kv-form__input"
            formControlName="corporateId"
            kvTrimSpaces
            kvSetMaxLength
          />
        </kv-form-control>

        <kv-custom-select
          [kvGaEvent]="{
            event: 'toggle_select_type-of-registration_employer-registration',
            category: googleAnalyticsCategoryEnum.EMPLOYEE_REGISTRATION,
            eventType: 'click'
          }"
          class="kv-modal__form-control"
          [isLabelWithRequired]="true"
          formControlName="typeOfRegistration"
          [error]="getControlErrors(employerRegistrationForm.get('typeOfRegistration'), inputErr.REQUIRED)"
          [label]="t('type-of-employee-registration')"
        >
          <kv-custom-select-option
            *ngFor="let type of typeRegistrationOptions"
            [kvGaEvent]="{
              event: 'select_type-of-registration_employer-registration',
              category: googleAnalyticsCategoryEnum.EMPLOYEE_REGISTRATION,
              eventType: 'click'
            }"
            [key]="type.key"
            [value]="type.value"
          ></kv-custom-select-option>
        </kv-custom-select>

        <div class="kv-card" *ngIf="registrationStatusIsNotValid">
          <h1 class="kv-card__title">{{ t('additional-information') }}</h1>
          <div class="kv-card__content">
            <kv-add-user-identification-form-container [form]="additionalInformation" [isSubmitted]="isSubmitted">
            </kv-add-user-identification-form-container>
          </div>
        </div>
      </form>
    </div>

    <div *ngIf="!message" class="kv-modal__footer">
      <div *transloco="let t" class="is-flex ml-auto">
        <button type="button" class="kv-btn kv-btn--flat kv-btn--small mr-4" (click)="onCancel()">
          {{ t('common.cancel') }}
        </button>

        <button type="submit" class="kv-btn kv-btn--primary kv-btn--small" (click)="onSubmit()">
          {{ t('common.save') }}
        </button>
      </div>
    </div>
  </div>
</ng-container>
