@use "common";

:host {
  position: relative;
  display: block;
}

.card-item {
  display: flex;
  flex-direction: column;
  box-shadow: common.$shadow-1;
  border-radius: common.$border-radius-5;
  margin: common.$space-3 0;
  padding: common.$space-4;
  cursor: pointer;

  &--highlight,
  &:hover {
    background: rgba(common.color("primary-disabled"), $alpha: 0.07);
  }

  &--is-small {
    @include common.media-breakpoint-down(lg) {
      box-shadow: none;
      padding: 0;
      margin: 0 0 common.$space-4;
    }
  }

  &__default:hover {
    background: initial;
  }

  &__header {
    display: flex;
    padding: 0 common.$space-4 common.$space-4;
    margin: 0 -#{common.$space-4} common.$space-4;
    border-bottom: common.pixel2rem(1) solid common.color("divider");

    &-content {
      display: flex;
      align-items: center;
      justify-content: space-between;
      width: 100%;
    }
  }

  &__property {
    display: flex;
    justify-content: space-between;

    &:not(:last-child) {
      margin-bottom: common.$space-3;
    }
  }

  &__expanded {
    &-header {
      display: flex;
      align-items: center;
      height: common.$space-5;
      color: common.color("text-secondary");
      font-size: common.pixel2rem(14);
      font-weight: 900;
      font-family: common.$family-secondary;
    }

    &-arrow {
      margin-right: common.$space-3;
      transition: all 0.225s linear;

      &--opened {
        transform: rotate(180deg);
      }
    }

    &-wrapper {
      overflow: hidden;
    }

    &-body {
      border-top: 1px solid common.color("divider");
      margin-top: common.pixel2rem(16);
      padding-top: common.pixel2rem(16);
    }
  }

  &__content {
    width: 100%;
  }

  &__expand {
    &-btn {
      display: flex;
      align-items: center;
      margin-right: common.$space-4;

      &--spaced {
        margin-top: common.$space-2;
      }
    }

    &-icon {
      transition: all linear 0.225s;

      &--expanded {
        transform: rotate(180deg);
      }
    }
  }
}
