<span class="kv-value">{{ titleText }}</span>

<ng-container [ngSwitch]="attributeType">
  <ng-container *ngSwitchCase="attributeTypeEnum.BOOL">
    <span *transloco="let t; read: 'shared'" class="kv-value--active">{{ t(valueText ? "yes" : "no") }}</span>
  </ng-container>

  <ng-container *ngSwitchCase="attributeTypeEnum.DBENUM">
    <ng-container *ngTemplateOutlet="listOption; context: { $implicit: valueText }"></ng-container>
  </ng-container>

  <ng-container *ngSwitchCase="attributeTypeEnum.SPECIAL">
    <ng-container *ngTemplateOutlet="listOption; context: { $implicit: valueText }"></ng-container>
  </ng-container>

  <!-- Date controls -->
  <ng-container *ngSwitchCase="attributeTypeEnum.DATE">
    <span class="kv-value--active" *ngIf="valueText !== noValueType; else emptyValue">{{ valueText | date: pipeFormats.DATE }}</span>
  </ng-container>

  <ng-container *ngSwitchCase="attributeTypeEnum.DATETIME">
    <span class="kv-value--active" *ngIf="valueText !== noValueType; else emptyValue">{{ valueText | date: pipeFormats.DATE }}</span>
  </ng-container>
  <!-- End Date controls-->

  <ng-container *ngSwitchDefault>
    <span class="kv-value--active">{{ valueText }}</span>
  </ng-container>
</ng-container>

<ng-template #emptyValue>
  <span class="kv-value--active">{{ noValueType }}</span>
</ng-template>

<ng-template #listOption let-valueText>
  <span class="kv-value--active">{{ valueText | valueByKey: configurationOptions }}</span>
</ng-template>
